<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        任務細節
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col"><%= @user_agent %></div>
        </div>
        <div class="row">
          <label class="col" for="task_name">任務名稱</label>
          <div class="col">
             <%= @task['title']  %>
          </div>
        </div>
        <div class="row">
          <label class="col" for="task_name">任務內容</label>
          <div class="col">
            <%= @task['content']  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
